Source: ros-iron-etsi-its-msgs-utils
Section: misc
Priority: optional
Maintainer: Jean-Pierre Busch <jean-pierre.busch@rwth-aachen.de>
Build-Depends: debhelper (>= 9.0.0), libgeographic-dev, ros-iron-ament-cmake, ros-iron-etsi-its-msgs, ros-iron-geometry-msgs, ros-iron-ros-environment, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-etsi-its-msgs-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeographic-dev, ros-iron-etsi-its-msgs, ros-iron-geometry-msgs, ros-iron-ros-environment, ros-iron-ros-workspace
Description: ROS messages and utility functions for ETSI ITS messages
